<app-navbar></app-navbar>
<section class="content">
    <div class="container-fluid">
        <div class="row m-t-sm">
            <div class="col-md-15">
                <div class="panel">
                    <div class="panel-body">
                        <div class="col-md-12 col-sm-12" id="form" style="display:block;">
                            <div class="panel panel-filled">
                                <div class="panel-body">
                                    <div class="view-header">
                                        <div class="header-icon">
                                            <i class="pe page-header-icon pe-7s-map"></i>
                                        </div>
                                        <div class="header-title">
                                            <h3>Locales</h3>
                                            <small>
                                                Ubicación de Nuestras Tiendas
                                            </small>
                                        </div>
                                    </div>
                                    <div class="map">
                                        <google-map height="50vh" width="100%" [options]="mapOptions"
                                            (mapInitialized)="handleMapInitialized($event)">
                                        </google-map>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12" id="form" style="display:block;">
                            <div class="panel panel-filled">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h5 class="m-t-xs">Ubicación de Nuestros Locales - Lima</h5>
                                        </div>
                                    </div>
                                    <form [formGroup]="tiendaForm" (ngSubmit)="agregarTienda()">
                                        <div class="form-group">
                                            <label>Latitud</label>
                                            <input type="number" formControlName="lat"
                                                class="form-control" placeholder="Ingresar Latitud">
                                            <div class="text-danger"
                                                *ngIf="tiendaForm.get('lat')?.hasError('required') && 
                                                        tiendaForm.get('lat')?.touched">
                                                <span>La latitud <strong>es obligatoria</strong></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Longitud</label>
                                            <input type="number" formControlName="lng" 
                                                class="form-control" placeholder="Ingresar longitud">
                                            <div class="text-danger"
                                                *ngIf="tiendaForm.get('lng')?.hasError('required') && 
                                                    tiendaForm.get('lng')?.touched">
                                                <span>La longitud <strong>es obligatoria</strong></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Title</label>
                                            <input type="text" formControlName="title" 
                                                class="form-control" placeholder="Ingresar title">
                                            <div class="text-danger"
                                                *ngIf="tiendaForm.get('title')?.hasError('required') && 
                                                    tiendaForm.get('title')?.touched">
                                                <span>El title <strong>es obligatorio</strong></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Información</label>
                                            <input type="text" formControlName="info" 
                                                class="form-control" placeholder="Ingresar Precio">
                                            <div class="text-danger"
                                                *ngIf="tiendaForm.get('info')?.hasError('required') && 
                                                    tiendaForm.get('info')?.touched">
                                                <span>La Información <strong>es obligatoria</strong></span>
                                            </div>
                                        </div>
                                        <div  class="col-sm-12 text-right">
                                            <div class="panel-body buttons-margin">
                                               <button type="submit" class="btn btn-w-md btn-success">Guardar</button>&nbsp;&nbsp;
                                               <button class="btn btn-w-md btn-warning" routerLink="/tiendas">Cancelar</button>
                                            </div>
                                        </div>
                                    </form>    
                                </div>
                            </div>
                        </div>  
                        <div class="col-md-12 col-sm-12" id="form" style="display:block;">
                            <div class="panel panel-filled">
                                <div class="panel-body">                          
                                    <div class="table-responsive">
                                        <table id="tableExample1" class="table">
                                            <thead>
                                                <tr>
                                                    <th>Latitud</th>
                                                    <th>Longitud</th>
                                                    <th>Title</th>
                                                    <th>Info</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="datos">
                                                <tr *ngFor="let tienda of listTiendas">
                                                    <td>{{ tienda.lat }}</td>
                                                    <td>{{ tienda.lng }}</td>
                                                    <td>{{ tienda.title }}</td>
                                                    <td>{{ tienda.info }}</td>
                                                    <td>
                                                        <button (click)="eliminarTienda(tienda._id)" style="font-size: 25px;" class="pe pe-7s-trash text-accent"></button>&nbsp;&nbsp;
                                                        <button style="font-size: 25px;" class="pe pe-7s-pen text-accent"></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <button style="text-align: center;" class="btn btn-w-md btn-danger" (click)="actualizarMapaConMarcadores()">Actualizar marcadores</button>&nbsp;&nbsp;
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>